
a{
    text-decoration:none;
    font-size:20px;
    color: black;
}
ol, ul,li {
    list-style: none;
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
}
.top-wrap {
    width: 1190px;
    margin: 0 auto;

}
.tbh-search {
    margin-left: 258px;
    margin-right: 302px;
    background-color: transparent;
}
.search-bd {
    z-index: 30;
    position: relative;
    transform: translateZ(0);
}
.search-triggers {
    height: 22px;
    margin-left: 17px;
}
.search-bd .search-triggers li {
    color: orange;
    text-align: center;
    float: left;
    width: 36px;
    height: 22px;
    line-height: 22px;
    margin-right: 4px;
    cursor: pointer;
}
.tbh-search .search-panel {
    position: relative;
}
.search-combobox {
    font-size: 12px;
}
.search-bd .search-panel .search-button {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    width: 74px;
    height: 40px;
    overflow: hidden;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.search-bd .search-panel .search-button .btn-search {
    font-size: 18px;
    font-weight: 700;
    color: #FFF;
    background-color: orange;
    cursor: pointer;
    height: 100%;
    border: none;
    width: 100%;
}
.search-bd .search-panel  {
    margin-right: 74px;
    border: 2px solid orange;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: none;
    overflow: hidden;
    height: 36px;
}
.search-bd .search-panel .search-combobox-input-wrap  {
    height: 36px;
    overflow: hidden;
    width: 472px;
}
.tbh-fl{
    height: 36px;
    width: 1340px;
    background-color:orange;
}
.tbh-fl-begin{
    height: 36px;
    width: 100px;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 100px;
    background-color:orange;
}


.person-message{
    float: right;
    width: 290px;
    height: 100%;
    margin-top: 10px;
}



 。main-list {
    border: 0;
    bacgkround-color: #262626;
    width: 250px;
}
.clas1 {
    height:60px;
    color: white;
    border-bottom: 1px solid gray;
}
.clas2 {
    height:60px;
    color: white;
    border-bottom: 1px solid gray;
}
.clas3 {
    height:60px;
    color: white;
    border-bottom: 1px solid gray;
}
.clas4 {
    height:60px;
    color: white;
    border-bottom: 1px solid gray;
}
.clas5 {
    height:60px;
    color: white;

    border-bottom: 1px solid gray;
}
.weizhi{
    margin-top: 0cm;
    margin-right: 12cm;
    margin-left: 5cm;
    margin-bottom: 5cm;
}
.man{
    height: 30px;
    width: 100px;
    margin-left: 20cm;
}