body{
    font-family:'微软雅黑';
    margin: 0;
    padding: 0;
    /*页面背景颜色*/
    background: url("../img/login.png") top left;
    overflow: hidden;
}
table{
    /*宽*/
    width:400px;
    /*高*/
    height:280px;
    margin:140px 550px;
}
span{
    color: red;
    /*文字闪烁*/
    text-decoration: blink;
}
