/*页面整个位置*/
body{
    margin: 0;
    padding: 0;
    color: #404040;
    background: url("../images/bj.jpg");
}
.main{
    width: 1190px;
    margin: 0px auto;
}
/*图片和文字浮动*/
.float_left{
    float: left;
}
.subject{
    width: 100%;
}
.img{
    margin-left:30px;
    margin-right:30px;
}
.float_right{
    right: auto;
}


* {
    margin: 0px;
    padding: 0px;
}
/*文字字体的设置*/
a {
    color: #35A;
}
#page {
    font-family: tahoma,arial,微软雅黑;
}

body, button, input, select, textarea {
    font: 15px/1.5 tahoma,arial,"宋体";
}

.margin{
    margin:2cm 4cm 3cm 4cm;
}
.margin2{
    margin: 0.5cm 4cm 0.2cm 1cm;
}
.margin3{
    margin: 0.3cm 0.2cm 0.3cm 1cm;
}
.margin4{
    margin: 0.3cm 0.2cm 0.3cm 2.5cm;
}

.btn{
    width: 200px;
    height: 50px;
}

/*button按钮的<a>标签的下划线取消*/
.a:link{
    text-decoration: none;
}
.a:visited{
    text-decoration: none;
}
.a:hover{
    text-decoration: none;
}
.a:active{
    text-decoration: none;
}
.h1 {
    color: #FFFFFF;
}
